<!DOCTYPE html>
<html>

<head>
    <title>Cyber Scraper</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../Assets/style.css">
</head>

<body>
    <a class="saved" href="#"><span>HOME</span></a>
    <h1>cyber scraper</h1>
  <!--   <form action="/results" method="get"> -->
        <a class="trigger-link text-center" href="http://localhost:6500/results">
            <ul>
                <li>S</li>
                <li>C</li>
                <li>R</li>
                <li>A</li>
                <li>P</li>
                <li>E</li>
            </ul>
        </a>
<!--     </form> -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../Assets/app.js"></script>
</body>

</html>
