* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'cyber-scrape';
    src: url('../font/BLADRMF_.ttf') format("truetype");
}

body {
    /*background-color: #000436;*/
    background-image: url("cyber-background-right.png");
    font-family: 'Share Tech Mono', monospace;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    /*height: 100%;
    width: 100%;*/
}

.saved {
    position: absolute;
    top: 6%;
    left: 9%;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 10px 30px;
    border: 2px solid;
    text-decoration: none;
    text-transform: uppercase;
    transition: .4s linear;
}

.saved:hover {
    padding: 20px 40px;
    color: #4bb1d9;
    text-decoration: none;
    animation: animate-link 1s infinite linear;
}

h1 {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    text-align: center;
    text-shadow: 0 0 8px #f11d46, 0 0 40px #f11d46;
    letter-spacing: 13px;
    color: #e697a6;
    font-family: cyber-scrape, Orbitron;
    font-size: 64px;
}

h1:hover {
    text-shadow: 0 0 7px #f11d46, 0 0 20px #f11d46;
    animation: animate-blue 1.5s ease infinite;
}

color: #01042d;
.trigger-link {
    display: flex;
    list-style: none;
}

.trigger-link:hover {
    cursor: pointer;
}

ul {
    background-color: rgba(1, 4, 45, 0.8);
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 10px;
    display: flex;
    text-transform: uppercase;
}

ul li {
    list-style: none;
    font-size: 45px;
    letter-spacing: 7px;
    color: #337ab7;
    font-weight: 600;
    animation: animate 1.2s infinite linear;
}

@keyframes animate {
    0% {
        color: #337ab7;
        text-shadow: none;
    }
    18% {
        color: #337ab7;
        text-shadow: none;
    }
    20% {
        color: #4bb1d9;
        text-shadow: 0 0 7px #4bb1d9, 0 0 20px #4bb1d9;
    }
    30% {
        color: #337ab7;
        text-shadow: none;
    }
    35% {
        color: #4bb1d9;
        text-shadow: 0 0 7px #4bb1d9, 0 0 20px #4bb1d9;
    }
    70% {
        color: #337ab7;
        text-shadow: none;
    }
    85% {
        color: #4bb1d9;
        text-shadow: 0 0 7px #4bb1d9, 0 0 20px #4bb1d9;
    }
    90% {
        color: #337ab7;
        text-shadow: none;
    }
    100% {
        color: #337ab7;
        text-shadow: none;
    }
}

@keyframes animate-blue {
    0% {
        color: #337ab7;
        text-shadow: none;
    }
    18% {
        color: #337ab7;
        text-shadow: none;
    }
    20% {
        color: #4bb1d9;
        text-shadow: 0 0 7px #4bb1d9, 0 0 20px #4bb1d9;
    }
    30% {
        color: #337ab7;
        text-shadow: none;
    }
    35% {
        color: #4bb1d9;
        text-shadow: 0 0 7px #4bb1d9, 0 0 20px #4bb1d9;
    }
    70% {
        color: #337ab7;
        text-shadow: none;
    }
    85% {
        color: #4bb1d9;
        text-shadow: 0 0 7px #4bb1d9, 0 0 20px #4bb1d9;
    }
    90% {
        color: #337ab7;
        text-shadow: none;
    }
    100% {
        color: #337ab7;
        text-shadow: none;
    }
}

@keyframes animate-link {
    0% {
        color: #337ab7;
        text-shadow: none;
    }
    18% {
        color: #337ab7;
        text-shadow: none;
    }
    20% {
        color: #4bb1d9;
        text-shadow: 0 0 7px #4bb1d9, 0 0 20px #4bb1d9;
    }
    30% {
        color: #337ab7;
        text-shadow: none;
    }
    35% {
        color: #4bb1d9;
        text-shadow: 0 0 7px #4bb1d9, 0 0 20px #4bb1d9;
    }
    70% {
        color: #337ab7;
        text-shadow: none;
    }
}

ul li:nth-child(1) {
    animation-delay: 0.2s;
}

ul li:nth-child(2) {
    animation-delay: 0.4s;
}

ul li:nth-child(3) {
    animation-delay: 0.6s;
}

ul li:nth-child(4) {
    animation-delay: 0.8s;
}

ul li:nth-child(5) {
    animation-delay: 1s;
}

ul li:nth-child(6) {
    animation-delay: 1.2s;
}

@media screen and (max-width: 767px) {
    body {
        background-image: url("cyber-background-mobile.png");
    }

    h1 {
        font-size: 44px;
    }

    ul li {
        font-size: 26px;
    }
        
    .saved {
        font-size: 14px;
    }

}
